@charset "UTF-8";
@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.maincontent {
  width: 100%;
  height: 100%;
  min-height: 650px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  will-change: transform; }

.section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

h2 {
  font-family: 'gagalinregular';
  font-size: 5.14286rem; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 63px; } }
  @media screen and (max-width: 480px) {
    h2 {
      font-size: 50px; } }
  @media screen and (max-width: 384px) {
    h2 {
      font-size: 43px; } }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 940px;
  width: 95%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.visually-hidden {
  position: absolute !important;
  clip: rect(0.07143rem, 0.07143rem, 0.07143rem, 0.07143rem);
  padding: 0 !important;
  border: 0 !important;
  height: 0.07143rem !important;
  width: 0.07143rem !important;
  overflow: hidden; }

.review__title, .map__title {
  display: none; }

html {
  font-size: 14px; }
  @media screen and (max-width: 768px) {
    html {
      font-size: 13px; } }
  @media screen and (max-width: 480px) {
    html {
      font-size: 12px; } }
  @media screen and (max-width: 384px) {
    html {
      font-size: 10px; } }

html, body {
  height: 100%; }

body {
  font-family: 'Ubuntu', Arial, sans-serif;
  position: relative;
  color: #000000;
  width: 100%; }

a {
  text-decoration: none;
  display: inline-block; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

p {
  margin: 0; }

ul.pagination {
  left: 95%;
  top: 10%;
  position: fixed;
  color: #ffffff;
  font-size: 1.14286rem;
  z-index: 500; }

.pagination__list {
  width: 1.14286rem;
  height: 1.14286rem;
  margin-top: 0.21429rem;
  border-radius: 50%;
  border: 0.07143rem solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .pagination__list:hover {
    border: 0.07143rem solid #ffffff; }

.pagination__list.active {
  border: 0.07143rem solid #ffffff; }

.pagination__link {
  content: '';
  display: inline-block;
  width: 1.14286rem;
  height: 1.14286rem;
  width: 0.42857rem;
  height: 0.42857rem;
  border-radius: 0.21429rem;
  background-color: #ffffff; }

.first {
  background: url("../images/bg/bg_first_page.jpg") 0 0 no-repeat;
  background-size: cover;
  color: #ffffff; }

.first__container {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.header {
  display: -webkit-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0.57143rem 5.71429rem 0rem 5.5rem;
  width: 100%; }

ul.menu__list {
  margin-left: auto; }
  @media screen and (max-width: 768px) {
    ul.menu__list {
      display: none; } }

ul.menu__list li {
  display: inline-block;
  margin: 0rem 1.07143rem 0rem -0.42857rem; }
  ul.menu__list li:after {
    display: inline-block;
    vertical-align: middle;
    content: ' ';
    width: 0.35714rem;
    height: 0.35714rem;
    border-radius: 0.17857rem;
    background-color: #ffffff;
    margin-left: 1.14286rem; }
  ul.menu__list li:last-child:after {
    display: none; }

@media screen and (max-width: 768px) {
  .header__logo {
    -webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    text-align: left; } }

.menu__item-link {
  color: #ffffff;
  font-weight: 400;
  font-size: 0.92857rem;
  text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    .menu__item-link {
      font-size: 1.71429rem; } }

a.menu__link {
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.92857rem;
  text-transform: uppercase;
  border-radius: 0.35714rem;
  background-color: #e45028;
  padding: 0.71429rem 1.14286rem 0.71429rem 1.14286rem;
  border: 0rem; }
  a.menu__link:hover {
    background-color: #c1401e; }

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 768px) {
    .content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center; } }

.content__photo {
  display: block;
  max-width: 100%;
  max-height: 100%; }
  @media screen and (max-width: 480px) {
    .content__photo {
      max-height: 90%;
      max-width: 80%; } }

img.content__img {
  max-height: 100%;
  max-width: 100%;
  display: block;
  margin: auto; }

.content__box {
  max-width: 50%;
  margin-left: 0.85714rem; }
  @media screen and (max-width: 768px) {
    .content__box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      text-align: center;
      margin-left: 0;
      max-width: 100%; } }

h2.content__text-title {
  color: #f9b43b;
  text-align: left;
  margin: 4.35714rem 0rem 0rem 0rem; }
  @media screen and (max-width: 768px) {
    h2.content__text-title {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
      text-align: center;
      margin-top: 1.92857rem; } }
  @media screen and (max-width: 384px) {
    h2.content__text-title {
      margin-top: 0.35714rem; } }

.content__text {
  font-family: 'lifehackmedium';
  font-size: 4.64286rem;
  margin: 1.57143rem 0rem 0rem 0.21429rem;
  text-align: left;
  line-height: 4.21429rem;
  letter-spacing: -0.14286rem; }
  @media screen and (max-width: 768px) {
    .content__text {
      margin-left: 0px;
      text-align: center; } }
  @media screen and (max-width: 480px) {
    .content__text {
      margin-top: 1.07143rem;
      font-size: 3.78571rem; } }

.scroll {
  display: inline-block;
  padding-bottom: 3.57143rem;
  width: 2.14286rem;
  height: 2.14286rem; }
  @media screen and (max-width: 480px) {
    .scroll {
      height: 2.14286rem; } }
  @media screen and (max-width: 384px) {
    .scroll {
      padding-bottom: 0.42857rem; } }

a.scroll__link {
  width: 100%;
  height: 100%; }

.scroll__icon {
  fill: #ffffff;
  width: 100%;
  height: 100%; }

.hamburger {
  width: 1.92857rem;
  height: 1.92857rem;
  display: none;
  margin-left: 2.14286rem;
  margin-right: 1.07143rem; }
  @media screen and (max-width: 768px) {
    .hamburger {
      display: block; } }
  .hamburger .hamburger-link {
    width: 100%;
    height: 100%; }
    .hamburger .hamburger-link .hamburger__icon {
      fill: #ffffff;
      height: 100%;
      width: 100%; }

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(47, 50, 52, 0.9);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 10000;
  overflow: hidden; }

.overlay__container {
  position: relative;
  max-width: 940px;
  width: 98%;
  height: 99%; }

.header__logo-overlay {
  position: absolute; }

.overlay__content {
  height: 100%;
  padding: 10px;
  color: #fff;
  font: 16px Helvetica, sans-serif;
  margin: 0; }

.close {
  white-space: 23px;
  height: 23px;
  font-size: 2.85714rem;
  color: #fff;
  position: absolute;
  right: 1.78571rem;
  top: 1.78571rem;
  text-align: center;
  text-decoration: none; }

.overlay__menu {
  text-align: center;
  font-size: 1.71429rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.overlay__menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 1.14286rem 0rem 0rem 0rem; }
  .overlay__menu-item:after {
    display: block;
    vertical-align: middle;
    content: ' ';
    width: 0.35714rem;
    height: 0.35714rem;
    border-radius: 0.17857rem;
    background-color: #ffffff;
    margin-top: 1.14286rem; }
  .overlay__menu-item:last-child:after {
    display: none; }

.best {
  background: url("../images/bg/bg_best_page.jpg") 0 0 no-repeat;
  background-size: cover; }

.best__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .best__container {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

ul.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }
  @media screen and (max-width: 480px) {
    ul.best__list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 90%; } }

@media screen and (max-width: 480px) {
  .best__title {
    margin-bottom: 0.35714rem; } }

li.best__item {
  width: 21.42857rem;
  margin: -0.42857rem 0.71429rem 0rem 0.71429rem;
  text-align: center; }
  @media screen and (max-width: 480px) {
    li.best__item {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 100%;
      margin: 0;
      margin-top: 1.42857rem; } }

.best__item-img {
  display: inline-block;
  width: 7.07143rem;
  height: 6.5rem; }

.best__item-icon {
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 480px) {
    .best__item-icon {
      width: 7.07143rem;
      height: 6.5rem; } }

.meat {
  fill: #e25028; }

.hand {
  fill: #f8b43a; }

.natural {
  fill: #8ac03e; }

@media screen and (max-width: 480px) {
  .best__item-content {
    margin: 0rem 0rem 0rem 1.78571rem; } }

.best__item-title {
  font-family: 'lifehackmedium';
  font-size: 1.71429rem;
  color: #2f3234;
  margin-top: 1.64286rem;
  letter-spacing: -0.04286rem; }
  @media screen and (max-width: 480px) {
    .best__item-title {
      text-align: left; } }

.best__item-text {
  opacity: 0.8;
  text-align: center;
  font-weight: 300;
  margin-top: 0.85714rem;
  letter-spacing: -0.07143rem;
  line-height: 1.71429rem; }
  @media screen and (max-width: 480px) {
    .best__item-text {
      text-align: left;
      margin-top: 1.71429rem; } }

.burger {
  background-image: -moz-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47.803%, #f9b43b 73.755%);
  background-image: -webkit-linear-gradient(90deg, #f9b43b 0%, #eb8c38 47.803%, #f9b43b 73.755%); }

.burger__container {
  width: 57.14286rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 78.57143rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

.burger__slider {
  width: 100%;
  position: absolute;
  height: 71%;
  overflow: hidden; }
  @media screen and (max-width: 768px) {
    .burger__slider {
      width: 71%;
      height: 90%; } }
  @media screen and (max-width: 480px) {
    .burger__slider {
      width: 80%; } }

h2.burger__title {
  color: #ffffff;
  margin-bottom: 0;
  line-height: 4.85714rem; }
  @media screen and (max-width: 768px) {
    h2.burger__title {
      margin-top: 0; } }

.burger__arrow {
  display: inline-block;
  padding-bottom: 5.71429rem;
  width: 1.71429rem;
  height: 2.85714rem; }
  @media screen and (max-width: 768px) {
    .burger__arrow {
      padding-bottom: 0; } }
  @media screen and (max-width: 480px) {
    .burger__arrow {
      height: 2.14286rem; } }
  @media screen and (max-width: 384px) {
    .burger__arrow {
      padding-bottom: 0.42857rem; } }

.prev {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  left: -100px; }
  @media screen and (max-width: 768px) {
    .prev {
      left: 10px; } }

.next {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  right: -100px; }
  @media screen and (max-width: 768px) {
    .next {
      right: 10px; } }

.burger__arrow-link {
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  padding-bottom: 5.71429rem;
  width: 1.71429rem;
  height: 2.85714rem; }
  @media screen and (max-width: 768px) {
    .burger__arrow-link {
      padding-bottom: 0; } }
  @media screen and (max-width: 480px) {
    .burger__arrow-link {
      height: 2.14286rem; } }
  @media screen and (max-width: 384px) {
    .burger__arrow-link {
      padding-bottom: 0.42857rem; } }

.burger__arrow-scroll {
  fill: #ffffff;
  width: 100%;
  height: 100%; }

.burger__list {
  width: 100%;
  position: absolute;
  -webkit-transition: left 0.7s;
  -o-transition: left 0.7s;
  transition: left 0.7s;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap; }
  @media screen and (max-width: 768px) {
    .burger__list {
      width: 100%;
      margin-top: 42px;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    .burger__list {
      width: 100%;
      margin-top: 3rem;
      margin-left: 0px;
      margin-right: 0px; } }

li.burger__item {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  white-space: normal;
  -webkit-box-flex: 0;
  -ms-flex: none;
  flex: none; }
  @media screen and (max-width: 768px) {
    li.burger__item {
      height: 90%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }
  @media screen and (max-width: 480px) {
    li.burger__item {
      height: 80%; } }

.burger__column-left {
  height: 100%;
  width: 100%;
  position: relative; }
  @media screen and (max-width: 768px) {
    .burger__column-left {
      height: 50%; } }
  .burger__column-left .burger__img {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle; }
  .burger__column-left .burger__composition {
    background-color: #f08c33;
    display: block;
    position: absolute;
    top: 0rem;
    left: 0.21429rem;
    width: 3.57143rem;
    height: 5rem;
    padding: 0.78571rem 1.42857rem 0.78571rem 1.42857rem;
    border-radius: 5px; }
    @media screen and (max-width: 768px) {
      .burger__column-left .burger__composition {
        left: 0.42857rem;
        top: -6.42857rem; } }
    @media screen and (max-width: 480px) {
      .burger__column-left .burger__composition {
        top: -6.42857rem;
        left: 0; } }
    .burger__column-left .burger__composition .burger__composition-link {
      color: #ffffff;
      height: 100%;
      width: 100%;
      font-family: 'gagalinregular';
      font-size: 1rem; }
      .burger__column-left .burger__composition .burger__composition-link .burger__composition-icon {
        fill: #ffffff;
        width: 100%;
        height: 70%; }
  .burger__column-left .burger__kkal {
    display: block;
    position: absolute;
    bottom: 0.64286rem;
    left: 0.21429rem;
    width: 4.57143rem;
    height: 5.71429rem;
    line-height: 0.28571rem; }
    @media screen and (max-width: 768px) {
      .burger__column-left .burger__kkal {
        top: -6.78571rem;
        right: 1.21429rem;
        left: auto; } }
    @media screen and (max-width: 480px) {
      .burger__column-left .burger__kkal {
        top: -6.78571rem;
        right: 0; } }
    .burger__column-left .burger__kkal .burger__kkal-link {
      color: #ffffff;
      font-family: 'gagalinregular';
      font-size: 1rem;
      width: 100%;
      height: 100%; }
      .burger__column-left .burger__kkal .burger__kkal-link .burger__kkal-text {
        font-size: 1.42857rem; }
      .burger__column-left .burger__kkal .burger__kkal-link .burger__kkal-icon {
        fill: #ffffff;
        width: 100%;
        height: 100%; }

.burger__column-right {
  margin-left: 2.14286rem;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .burger__column-right {
      height: 50%;
      text-align: center;
      margin-top: 1.14286rem;
      margin-left: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  .burger__column-right .burger__text {
    color: #ffffff;
    line-height: 1.57143rem;
    margin-top: 3rem; }
    @media screen and (max-width: 768px) {
      .burger__column-right .burger__text {
        margin-top: 0px; } }
    @media screen and (max-width: 480px) {
      .burger__column-right .burger__text {
        margin-top: 0px; } }
  .burger__column-right .burger__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    margin-top: 1.28571rem; }
    @media screen and (max-width: 768px) {
      .burger__column-right .burger__content {
        margin-top: 0px; } }
    .burger__column-right .burger__content .burger__price {
      font-family: 'gagalinregular';
      color: #e45028;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      align-items: baseline; }
      .burger__column-right .burger__content .burger__price .burger__price-cost {
        font-size: 5.07143rem; }
      .burger__column-right .burger__content .burger__price .burger__price-text {
        font-size: 2.14286rem;
        margin-left: 0.28571rem; }

.burger__order-btns {
  margin-left: 1.71429rem; }
  .burger__order-btns a.burger__order-link {
    display: block;
    color: #ffffff;
    font-weight: 400;
    font-size: 0.92857rem;
    text-transform: uppercase;
    border-radius: 0.35714rem;
    background-color: #e45028;
    padding: 0.71429rem 1.14286rem 0.71429rem 1.14286rem;
    border: 0rem; }
    .burger__order-btns a.burger__order-link:hover {
      background-color: #c1401e; }

.team {
  background: url("../images/bg/bg_team_page.jpg") 0 0 no-repeat;
  color: #ffffff;
  background-size: cover;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  text-align: right; }

.team__container {
  text-align: center;
  display: block;
  position: absolute;
  width: 50%;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  right: 0;
  top: 0;
  bottom: 0; }
  @media screen and (max-width: 768px) {
    .team__container {
      width: 100%;
      left: 0%; } }

h2.team__title {
  color: #f9b43b; }
  @media screen and (max-width: 768px) {
    h2.team__title {
      margin-top: 0; } }

.accordeon {
  position: relative;
  display: inline-block;
  width: 80%;
  text-align: center;
  top: 5%; }

ul.accordeon__list {
  margin-top: -1.57143rem; }

ul.accordeon__list li {
  text-align: left;
  font-size: 1rem; }
  @media screen and (max-width: 768px) {
    ul.accordeon__list li {
      text-align: center; } }

li.accordeon__item {
  margin-bottom: 1.14286rem; }

.accordeon__link {
  display: inline-block;
  margin-left: 1.28571rem;
  text-decoration: none;
  font-family: 'gagalinregular';
  color: #ffffff; }
  .accordeon__link:hover {
    color: #f9b43b; }
  .accordeon__link:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border: 0.35714rem solid transparent;
    border-top-color: #f9b43b;
    margin-bottom: -0.07143rem; }
    @media screen and (max-width: 768px) {
      .accordeon__link:before {
        font-size: 1.71429rem;
        border: 0.42857rem solid transparent;
        border-top-color: #f9b43b; } }
  @media screen and (max-width: 768px) {
    .accordeon__link {
      font-size: 1.71429rem; } }
  @media screen and (max-width: 480px) {
    .accordeon__link {
      font-size: 1.71429rem; } }
  .accordeon__link:active {
    color: #f9b43b; }
    .accordeon__link:active:before {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg); }

.accordeon__content {
  margin-top: 1.21429rem;
  margin-left: 1.28571rem;
  height: 0;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s; }
  @media screen and (max-width: 768px) {
    .accordeon__content {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 0rem;
      margin-bottom: 0.92857rem; } }
  @media screen and (max-width: 480px) {
    .accordeon__content {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-left: 0rem;
      margin-bottom: 2.5rem; } }

.accordeon__content-avatar {
  background-size: cover;
  background-position: center;
  width: 7.14286rem;
  min-height: 7.14286rem;
  border-radius: 50%;
  overflow: hidden; }

.accordeon__content-img {
  display: none;
  position: relative;
  left: -18%;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 100%; }

.accordeon__content-block {
  width: 15.14286rem;
  line-height: 0.78571rem; }
  @media screen and (max-width: 768px) {
    .accordeon__content-block {
      margin-top: 0.71429rem;
      white-space: 80%;
      width: 75%; } }
  @media screen and (max-width: 480px) {
    .accordeon__content-block {
      margin-top: 2rem;
      width: 100%; } }

.accordeon__content-title {
  font-weight: 500;
  margin-left: 0.78571rem; }

.accordeon__content-text {
  font-weight: 300;
  margin-left: 0.71429rem;
  margin-top: 1.21429rem;
  line-height: 1.85714rem; }

.accordeon__link.active {
  color: #f9b43b; }
  .accordeon__link.active:before {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }

.content:active {
  height: 100%; }

.menu {
  background: url("../images/bg/bg_menu_page.jpg") 0 0 no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: left;
  font-size: 0;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%; }

/* .menu__container{
    text-align: left;
    font-size: 0;
    position: relative;
    display: flex;
    max-width: 100%;
  } */
h2.menu__title {
  position: absolute;
  top: 0;
  left: 7%; }

h2.menu__title, ul.menu__accordeon {
  display: inline-block; }

ul.menu__accordeon {
  text-align: center;
  height: 100%;
  font-size: 0;
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  top: 0;
  bottom: 0; }

ul.menu__accordeon li:nth-child(1) {
  background: url("../images/menu/bg_meat.jpg") 0 0 no-repeat;
  background-size: cover;
  background-position: center; }

ul.menu__accordeon li:nth-child(2) {
  background: url("../images/menu/bg_vegan.jpg") 0 0 no-repeat;
  background-size: cover;
  background-position: center; }

ul.menu__accordeon li:nth-child(3) {
  background: url("../images/menu/bg_diet.jpg") 0 0 no-repeat;
  background-size: cover;
  background-position: center; }

li.menu__accordeon-item {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.5); }

/*.menu__accordeon-title, .menu__accordeon-text{
  display: inline-block;
  vertical-align: top;
}*/
/*.menu__accordeon-title{
  
  background: rgba(0,0,0,0.5);
  font-family: 'gagalinregular';
  font-size: rem(40px);
  position: relative;
  width: rem(80px);
 
  display: flex;
  align-items: center;
  justify-content: space-around;
  */
.title__text {
  color: #ffffff;
  text-decoration: none;
  -webkit-writing-mode: tb-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: tb-rl;
  width: auto;
  margin-top: 0.14286rem;
  height: 100%;
  /* position: absolute;
    bottom: -24%;
    right: 23%; */
  -webkit-transform: scale(-1, -1);
  -ms-transform: scale(-1, -1);
  transform: scale(-1, -1);
  background: rgba(0, 0, 0, 0.5);
  font-family: 'gagalinregular';
  font-size: 2.85714rem;
  padding: 10px 17px 10px 17px; }

.menu__accordeon-text {
  background: rgba(0, 0, 0, 0.8);
  text-align: left;
  height: 100%;
  font-weight: 300;
  font-size: 1rem;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  width: 0;
  overflow: hidden; }

.menu__accordeon-text.active {
  width: 38.57143rem;
  padding: 4.35714rem 2.5rem 0rem 2.5rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    .menu__accordeon-text.active {
      width: 100%; } }

/*.menu__accordeon:active{
  width: rem(540px);
  padding: rem(61px) rem(35px) rem(0px) rem(35px);
  box-sizing: border-box;

   @include tablet{
      width: 100%;
   }
}

*/
ul.review__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 100%;
  width: 100%; }

ul.review__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

li.review__item {
  width: 25%;
  height: 50%;
  position: relative;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  @media screen and (max-width: 768px) {
    li.review__item {
      width: 50%;
      height: 25%; } }

.review__item-photo {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover; }

.review__item-img {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%; }

.review__content {
  display: none;
  position: absolute;
  padding: 3.35714rem 1.42857rem 0.71429rem 1.42857rem;
  text-align: left;
  color: #ffffff; }
  @media screen and (max-width: 768px) {
    .review__content {
      padding: 1.42857rem 1.42857rem 0rem 1.42857rem; } }
  @media screen and (max-width: 480px) {
    .review__content {
      padding: 2.64286rem 1.42857rem 0rem 1.42857rem;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

li.review__item:hover div.review__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  @media screen and (max-width: 768px) {
    li.review__item:hover div.review__content {
      text-align: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }
  @media screen and (max-width: 480px) {
    li.review__item:hover div.review__content {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.review__content-title {
  font-family: 'gagalinregular';
  font-size: 1rem; }
  @media screen and (max-width: 480px) {
    .review__content-title {
      font-size: 1.71429rem; } }

.review__content-text {
  font-weight: 300;
  margin-top: 1.35714rem;
  line-height: 1.71429rem; }
  @media screen and (max-width: 850px) {
    .review__content-text {
      line-height: 1.07143rem; } }
  @media screen and (max-width: 768px) {
    .review__content-text {
      line-height: 1.57143rem; } }
  @media screen and (max-width: 480px) {
    .review__content-text {
      display: none; } }

a.review__content-link {
  font-size: 0.92857rem;
  font-weight: 400;
  padding: 0.64286rem 1.14286rem 0.85714rem 1.14286rem;
  background-color: #2f3234;
  border-radius: 0.35714rem;
  text-transform: uppercase;
  margin-top: 1rem;
  color: #ffffff; }
  a.review__content-link:hover {
    background-color: #1f2122; }
  @media screen and (max-width: 480px) {
    a.review__content-link {
      content: 'читать отзыв';
      margin-top: 2rem; } }
  a.review__content-link p.display {
    margin: 0;
    display: block; }
    @media screen and (max-width: 480px) {
      a.review__content-link p.display {
        display: none; } }
  a.review__content-link p.phone {
    margin: 0;
    display: none; }
    @media screen and (max-width: 480px) {
      a.review__content-link p.phone {
        display: block; } }

.order {
  background: url("../images/bg/bg_order_page.jpg") 0 0 no-repeat;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-size: cover;
  color: #ffffff; }

.order__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%; }

.form__title {
  color: #f9b43b;
  margin: 0; }
  @media screen and (max-width: 480px) {
    .form__title {
      font-size: 50px; } }

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 384px) {
    .form {
      height: 90%; } }

.form__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  text-align: left; }
  @media screen and (max-width: 768px) {
    .form__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      width: 99%; } }

.form__column {
  margin-top: 1.14286rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%; }
  @media screen and (max-width: 768px) {
    .form__column {
      width: 100%; } }
  @media screen and (max-width: 480px) {
    .form__column {
      width: 100%; } }

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 1.42857rem; }
  @media screen and (max-width: 480px) {
    .form__row {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.form__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0rem 1.14286rem 0rem 0.35714rem;
  width: 100%; }

@media screen and (max-width: 480px) {
  .floor {
    display: none; } }

.form__input-title, .form__radio-title, .form__input-title, .form__chekbox-title {
  font-size: 1rem;
  font-weight: 300; }

.form__input-text {
  margin-top: 0.35714rem;
  width: 100%;
  height: 2.07143rem;
  outline: none;
  border: 0.14286rem solid #d1cfcb;
  border-radius: 0.35714rem;
  padding-left: 15px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }
  .form__input-text:focus {
    border-color: #f9b43b; }

.form__big-text {
  width: 100%;
  height: 7.28571rem;
  outline: none;
  border-radius: 0.35714rem;
  resize: none;
  margin-top: 0.5rem;
  border: 0.14286rem solid #d1cfcb;
  padding-left: 10px;
  padding-top: 8px; }
  .form__big-text:focus {
    border-color: #f9b43b; }

.form__controls, .form__controls-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 0.21429rem; }
  @media screen and (max-width: 480px) {
    .form__controls, .form__controls-trigger {
      margin-top: 0.35714rem; } }

label.form__radio-title {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 1.78571rem;
  margin-right: 1.07143rem;
  font-size: 1rem; }

label.form__checkbox-title {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 1.78571rem;
  margin-right: 1.07143rem;
  font-size: 1rem;
  margin-left: 0.35714rem;
  margin-top: 0.35714rem; }

.form__radio, .form__checkbox {
  display: none; }

label.form__radio-title:before {
  content: '';
  display: inline-block;
  background-color: white;
  width: 0.71429rem;
  height: 0.71429rem;
  margin-right: 0.71429rem;
  position: absolute;
  left: 0;
  bottom: 0.07143rem;
  border: 0.14286rem solid transparent;
  border-radius: 50%; }

input.form__radio:focus + label.form__radio-title:before {
  border: 0.14286rem solid #e45028; }

input.form__radio:checked + label.form__radio-title:before {
  background: url("../images/orders/ellipse.png");
  background-color: #ffffff;
  background-position: center; }

label.form__checkbox-title:before {
  content: '';
  display: inline-block;
  background-color: white;
  width: 0.85714rem;
  height: 0.85714rem;
  margin-right: 0.71429rem;
  position: absolute;
  left: 0;
  bottom: 0.07143rem;
  border: 0.14286rem solid transparent; }

input.form__checkbox:checked + label.form__checkbox-title:before {
  background-image: url("../images/orders/check.png");
  background-position: center; }

.visually-hidden {
  position: absolute !important;
  clip: rect(0.07143rem, 0.07143rem, 0.07143rem, 0.07143rem);
  padding: 0 !important;
  border: 0 !important;
  height: 0.07143rem !important;
  width: 0.07143rem !important;
  overflow: hidden; }

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  @media screen and (max-width: 480px) {
    .form__btns {
      margin-top: 2.57143rem; } }

.form__btns-send {
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.92857rem;
  text-transform: uppercase;
  border-radius: 0.35714rem;
  background-color: #e45028;
  padding: 0.71429rem 1.14286rem 0.71429rem 1.14286rem;
  border: 0rem;
  margin-left: 0.71429rem; }
  .form__btns-send:hover {
    background-color: #c1401e; }
  @media screen and (max-width: 384px) {
    .form__btns-send {
      padding: 0.5rem 1.14286rem 1.28571rem 1.14286rem; } }

.form__btns-clear {
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.92857rem;
  background-color: transparent;
  margin-left: 1.35714rem;
  padding: 0;
  border: 0rem; }

.map {
  background-size: cover;
  color: #ffffff;
  position: relative;
  width: 100%; }

footer {
  background: url("../images/bg/footer.jpg") 0 0 no-repeat;
  background-size: cover;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 5.35714rem;
  margin-top: -5.35714rem;
  font-size: 1rem;
  z-index: 100; }
  @media screen and (max-width: 480px) {
    footer {
      height: 8.21429rem; } }

.footer__content {
  min-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  @media screen and (max-width: 480px) {
    .footer__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

/*.footer__contact, ul.footer__network{
    width: 50%;
    vertical-align: middle;
} */
.footer__contact {
  margin-left: 5.71429rem;
  margin-top: 0.35714rem; }
  @media screen and (max-width: 768px) {
    .footer__contact {
      margin-left: 2.14286rem; } }
  @media screen and (max-width: 480px) {
    .footer__contact {
      margin-left: 0;
      text-align: center; } }

ul.footer__network {
  margin-right: 5.71429rem;
  text-align: right; }
  @media screen and (max-width: 768px) {
    ul.footer__network {
      margin-right: 2.14286rem; } }
  @media screen and (max-width: 480px) {
    ul.footer__network {
      margin-left: 0;
      text-align: center; } }

.footer__adress {
  margin-top: 0.78571rem;
  font-weight: 300; }

.footer__phone {
  margin-top: 0.78571rem;
  font-weight: 500;
  color: #e45028; }

.footer__phone-img {
  width: 0.92857rem;
  height: 0.92857rem; }

.footer__phone-img, .footer__phone-number {
  display: inline-block; }

.footer__phone-number {
  margin-left: 0.57143rem; }

.contact__phone {
  text-decoration: none;
  color: #e45028; }

.footer__phone-icon {
  fill: #e45028;
  width: 100%;
  height: 100%; }

ul.footer__network li {
  display: inline-block; }

li.footer__network-item {
  width: 1.42857rem;
  height: 1.42857rem;
  display: inline-block;
  margin-top: 2rem;
  margin-left: 1.42857rem; }
  @media screen and (max-width: 480px) {
    li.footer__network-item {
      margin-top: 1.5rem; } }

.footer__network-link {
  text-decoration: none;
  width: 100%;
  height: 100%; }

.footer__network-icon {
  fill: #5a5a5a;
  width: 100%;
  height: 100%; }
  .footer__network-icon:hover {
    fill: #ffffff; }

.overlay__order-container {
  position: relative;
  max-width: 940px;
  width: 98%;
  height: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.overlay__order-content {
  width: 14.28571rem;
  height: 7.64286rem;
  background-color: white;
  font-weight: 300;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.overlay__close {
  display: block;
  color: #ffffff;
  font-weight: 400;
  font-size: 0.92857rem;
  text-transform: uppercase;
  border-radius: 0.35714rem;
  background-color: #e45028;
  padding: 0.71429rem 1.14286rem 0.71429rem 1.14286rem;
  border: 0rem;
  width: 6.92857rem; }
  .overlay__close:hover {
    background-color: #c1401e; }

.overlay__review-container {
  position: relative;
  max-width: 940px;
  width: 98%;
  height: 99%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.overlay__review-content {
  width: 32.78571rem;
  height: 18.14286rem;
  background-color: white;
  font-weight: 300;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 5px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
  padding: 1.78571rem 1.42857rem 0.71429rem 1.42857rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.overlay__review-title {
  font-family: 'gagalinregular';
  font-size: 1rem; }
  @media screen and (max-width: 480px) {
    .overlay__review-title {
      font-size: 1.71429rem; } }

.overlay__review-text {
  font-weight: 300;
  margin-top: 1.35714rem;
  line-height: 1.71429rem; }
  @media screen and (max-width: 850px) {
    .overlay__review-text {
      line-height: 1.07143rem; } }
  @media screen and (max-width: 768px) {
    .overlay__review-text {
      line-height: 1.57143rem; } }

.overlay__reviev-close {
  position: absolute;
  top: 17px;
  right: 3px;
  display: block;
  color: #FF0000;
  height: 2.14286rem;
  width: 2.14286rem; }

.burger__composition:hover .burger__composition-list {
  left: 90px; }

.burger__composition-list {
  width: 271px;
  height: 333px;
  background-color: #ffffff;
  opacity: 0.8;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding: 10px 10px 10px 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 9999px;
  z-index: 9999; }
  .burger__composition-list .burger__composition-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .burger__composition-list .burger__composition-item .burger__composition-img {
      width: 45px;
      height: 45px; }
      .burger__composition-list .burger__composition-item .burger__composition-img .burger__composition-avatar {
        width: 100%;
        height: 100%; }
    .burger__composition-list .burger__composition-item .burger__composition-ingredient {
      font-weight: 500;
      margin-left: 21px; }
    .burger__composition-list .burger__composition-item .burger__composition-weight {
      font-weight: 300;
      margin-left: 50px; }
