//CONFIG//

@import "config/media.scss";

@import "config/_variables.scss";
@import "config/_mixins.scss";

//RESOLUTION//

$notebook: 850px;

$tablet: 768px;
$phone: 480px;

$phone_mini: 384px;



//LAYOUT//

@import "layout/_font.scss";

@import "layout/_adjustment.scss";

@import "layout/_base.scss";

//SECTION//

@import "section/pagination.scss";

@import "section/first.scss";

@import "section/hamburger_menu.scss";

@import "section/second.scss";

@import "section/burger.scss";

@import "section/team.scss";

@import "section/menu.scss";

@import "section/review.scss";

@import "section/order.scss";

@import "section/map.scss";