ul.pagination{
    left: 95%;
    top: 10%;
    position: fixed;
    color: $white;
    font-size: rem(16px);
    z-index: 500;
}

.pagination__list{
   width: rem(16px);
   height: rem(16px);
   margin-top: rem(3px);
   border-radius: 50%;
   border: rem(1px) solid transparent ;
   display: flex;
   justify-content: center;
   align-items: center;

  

   &:hover{
    border: rem(1px) solid #ffffff ;
   }

  
   
}

.pagination__list.active{
    border: rem(1px) solid #ffffff ;
}

.pagination__link{
    
    content:'';
    display: inline-block;
    width: rem(16px);
    height: rem(16px);
    @include circle(rem(6px), #ffffff);
    
}

 

