ul.review__list{
    
    
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;


        
}  

  ul.review__list li{
    
    
    display: flex;
    justify-content: center;


    
   

  }

li.review__item{
    width: 25%;
    height: 50%;
    position: relative;
    filter: grayscale(100%); 

    @include tablet{
      width: 50%;  
      height: 25%; 
    }
    
}

.review__item-photo{
    width: 100%;
    
    position: relative;
    overflow: hidden;
    background-size: cover;
    
}

.review__item-img{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;  
}  

.review__content{
    display: none;
    position: absolute;
    padding: rem(47px) rem(20px) rem(10px) rem(20px);
    text-align: left;
    color: $white;

    @include tablet{
        padding: rem(20px) rem(20px) rem(0px) rem(20px);
        
      }
    
    

    @include phone{
        padding: rem(37px) rem(20px) rem(0px) rem(20px);
        align-items: center;
      }
    
    
}

li.review__item:hover div.review__content{
    display: flex;
    background: rgba(0,0,0,0.5);
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    box-sizing: border-box;

    @include tablet{
        text-align: center;
        align-items: center;
    }

    @include phone{
        justify-content: center;
    }

}

.review__content-title{
    font-family: 'gagalinregular';
    font-size: rem(14px);

    

    

    @include phone{
        font-size: rem(24px);
    }
}

.review__content-text{
  //  font-size: rem(14px);//
    font-weight: 300;
    margin-top: rem(19px);
    line-height: rem(24px);
   

    @include notebook{
        line-height: rem(15px);
    }

    @include tablet{
        line-height: rem(22px);
       
       
      }

    @include phone{
        display: none;
    }
}

a.review__content-link{
    font-size: rem(13px);
    font-weight: 400;
    padding: rem(9px) rem(16px) rem(12px) rem(16px);
    background-color: $dark;
    border-radius: rem(5px);
    text-transform: uppercase;
    margin-top: rem(14px);
    color: $white;
    
    &:hover{
        background-color: $darken;
    }

    @include phone{
        content: 'читать отзыв';
        margin-top: rem(28px);
    }

    p.display{
        margin: 0;
        display: block;
        @include phone{
            display: none;
        }
    }

    p.phone{
        margin: 0;
        display: none;
        @include phone{
            display: block;
        }

    }
    
}
  
