.best{
    background: url('../images/bg/bg_best_page.jpg') 0 0 no-repeat; 
    
     background-size: cover;
}

.best__container{
    
    display: flex;
    justify-content: center;
    height: 100%;


    @include phone{
        align-items: center;
    }
}



ul.best__list{
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    @include phone{
        flex-direction: column;
        width: 90%;
        
    }
}

.best__title{

   @include phone{
        
        margin-bottom: rem(5px);
    }  

    
} 




li.best__item{
    width: rem(300px);
    margin: rem(-6px) rem(10px) rem(0px) rem(10px);
    text-align: center;

    @include phone{
        display: flex;
        align-items: center;
        width: 100%;
        margin: 0;
        margin-top: rem(20px);
    }
}




.best__item-img{
    display: inline-block;
    width: rem(99px);
    height: rem(91px);
}


.best__item-icon{
    
    width: 100%;
    height: 100%;

    @include phone{
        width: rem(99px);
        height: rem(91px);
    }
}

.meat{
    fill: $meat;
}

.hand{
    fill: $hand;
}

.natural{
    fill: $natural;
}

.best__item-content{

    @include phone{
        margin: rem(-0px) rem(0px) rem(0px) rem(25px);
    }
}


.best__item-title{
    font-family: 'lifehackmedium';
    font-size: rem(24px);
    color: $dark;
    margin-top: rem(23px);
    letter-spacing: rem(-0.6px);

    @include phone{
        text-align: left;
    }
}

.best__item-text{
    opacity: 0.8;
    text-align: center;
    font-weight: 300;
    margin-top: rem(12px);
    letter-spacing: rem(-1px);
    line-height: rem(24px);

    @include phone{
        text-align: left;
        margin-top: rem(24px);
    }
   
}
