@mixin circle($width, $color) {
    width: $width;
    height: $width;
    border-radius: $width/2;
    background-color: #ffffff;
  }

  @mixin line($width, $height, $color) {
    width: $width;
    height: $height;
    border-radius: $width/2;
    background-color: #ffffff;
  }