
html {
    font-size: 14px;

 @include tablet {
     font-size: 13px;
 }

 @include phone {
     font-size: 12px;
 }

 @include phone_mini{
     font-size: 10px;
 }
}


body{
    font-family: 'Ubuntu', Arial, sans-serif;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
  

}


a{
    text-decoration: none;
    display: inline-block;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;

}

p{
    margin: 0;
}